<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>index</title>
    </head>
    <body>
        <h2>Edit Pitch</h2>
        <br>
        <form method="POST" action="/pitches/<%=@pitch.id%>">
            <input id="hidden" type="hidden" name="_method" value="PATCH">
            Title: <input type="text" name="title" value="<%=@pitch.title%>">
            Industry: <input type="text" name="industry" value="<%=@pitch.industry%>">
            Funding: <input type="text" name="funding" value="<%=@pitch.funding%>">
            <input id="submit" type="submit">
        </form>
        <br><br>
    </body>
</html>