<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>index</title>
    </head>
    <body>
        <h2>Create a New Pitch</h2>
        <form method="POST" action="/pitches">
            <br>
            Title: <input type="text" name="title">
            Industry: <input type="text" name="industry">
            Funding Necessary: <input type="text" name="funding">
            <input id="submit" type="submit">
            <br><br>
        </form>
    </body>
</html>